@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */

    body {
        background-color: rgb(229, 229, 224);
    }
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 209, 6);
        margin: auto;
    }

    #menu {
        display: none;
        position: absolute;
        z-index: 3;
        width: 100%;
        background-color: rgba(255, 208, 0, 0.685);
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
    }

    #menu-items {
        display: flex;
        gap: 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .menu-items > ul > li > a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }


    #menu-button {
        font-size: 24px;
        margin-right: 2rem;
        background-color: transparent;
        border: none;
    }

    #menu-button:hover {
        background-color: rgb(235, 192, 0);
    }

    #logo {
        height: 50px;
        margin: 10px 0px 10px;
    }

 }
    
