body {
    background-color: rgb(229, 229, 224);
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 209, 6);
    margin: auto;
}

#menu {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: rgba(255, 208, 0, 0.685);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

#menu-items {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu-items > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


#menu-button {
    font-size: 24px;
    margin-right: 2rem;
    background-color: transparent;
    border: none;
}

#menu-button:hover {
    background-color: rgb(235, 192, 0);
}

#logo {
    height: 50px;
    margin: 10px 0px 10px;
}

#image-container {
    position: relative;
    text-align: center;
    
}
#giant-image {
    max-width: 100%;
}

#giant-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}