@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Hammersmith+One&family=Jura:wght@300..700&display=swap');

body {
    background-color: rgb(53, 53, 52);
    font-family: "Poiret One";
    font-weight: 400;
}
@media only screen and (max-device-width: 480px) {

    #image-container {
        position: relative;
        text-align: center;
        max-width: 100%;
    }
    #giant-image {
        max-width: 100%;
        z-index: 0;
    }

    #giant-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3em;
        z-index: 3;
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
    }

    #image-cover {
        z-index: 2;
        position: absolute;
        background-color: #000000c9;
        width: 100%;
        height: 100%;
    }

    #giant-logo {
        z-index: 3;
        height: 3rem;
    }


    #main-container-box-1 {
        display: flex;
        color: black;
        padding: 3rem;
        flex-direction: column;
        gap: 1rem;
        background-color:aliceblue;
    }


    #box-1-text > h1{
        font-size: 2em;
        color: rgb(207, 170, 2);
    }

    #box-1-text > p {
        padding-top: 10px;
    }

    #box-1-image {
        height: 5em;
    }

    #main-container-box-2 {
        display: flex;
        color: white;
        padding: 3rem;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-end;
        text-align: right;
    }


    #box-2-text > h1{
        font-size: 2em;
        color: rgb(255, 209, 6);
        text-transform: up;
    }

    #box-2-text > p {
        padding-top: 10px;
    }
    
    #box-2-image {
        height: 7em;
    }

    #main-container-box-3 {
        display: flex;
        color: black;
        padding: 3rem;
        flex-direction: column;
        gap: 1rem;
        background-color:aliceblue;
    }


    #box-3-text > h1{
        color: rgb(207, 170, 2);
        font-size: 2em;
    }

    #box-3-text > p {
        padding-top: 10px;
    }
    
    #box-3-image {
        height: 7em;
    }

    #back-button {
        display: none;
        position: fixed;
        bottom: 2rem;
        right: -3rem;
        border: 1px solid rgb(255, 209, 6);
        border-radius: 5rem;
        background: none;
        transition: all 1s;
        background-color: rgb(255, 209, 6);

        
    }

    #back-button:hover {
        background-color: rgb(255, 237, 159);
    }
    #back-button-image {
        height: 1rem;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #footer {
        display: flex;
        justify-content: center;
        color: white;
        padding-top: 6rem;
        padding-bottom: 6rem;
        
    }

    #sign {
        color: rgb(255,209,6);
    }

    #box-1-text > .titles {
        color: rgb(255, 136, 0);
        font-weight: 600;
    }

    #box-3-text > .titles {
        color: rgb(255, 136, 0);
        font-weight: 600;
    }
    
    #box-1-text > p {
        font-family: "Jura";
        font-size: 15px;
        font-weight: 900;
    }
    #box-2-text > p {
        font-family: "Jura";
        font-size: 15px;
        font-weight: 900;
    }
    #box-3-text > p {
        font-family: "Jura";
        font-size: 15px;
        font-weight: 900;
    }
}